@keyframes example{
    0%{background-color: aqua;}
    25%{background-color: navy;}
    50%{background-color:coral;}
    100%{background-color: rgb(82, 247, 247);}
}
#ani1{
    background-color:gainsboro;
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 5s;
}
#ani2{
    background-color:rgb(166, 150, 70);
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 5s;
}
#ani3{
    background-color:gainsboro;
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 5s;
}
